<!--  Switch case
<div [ngSwitch]="selektierterProf">
  <p *ngSwitchCase="null">Kein faculty selektiert</p>
  <p *ngSwitchCase="SPE"> Specht </p>
  <p *ngSwitchDefault>Selektierter faculty: {{selektierterProf.kuerzel}}</p>
</div>
-->
<!--  If/else - Remember GoTo from ps
<app-faculty-details *ngIf="selektierterProf else keinerausgewaehlt">
</app-faculty-details>
<ng-template #keinerausgewaehlt>
  <p>Kein faculty ausgewählt</p>
</ng-template>
-->
<!--  For Loop
  Version. 1
<li *ngFor="let prof of facultyen">{{prof.name}}</li>

  Version 2 with keys:
- keys are predefined: index:int, count:int, first:bool, last:bool, even:bool, odd:bool
<li *ngFor="let prof of facultyen; let i=index; let hervorheben=odd"> {{i,hervorheben}}</li>-->

<h2> Faculty list</h2>
<table>
  <tr>
    <th>Nr. </th>
    <th>Name</th>
    <th>Shortel</th>
  </tr>
  <tr *ngFor="let fac of facultys;let i=index"
      (click)="selectFaculty(fac,$event)"
      class="{{fac == selectedFaculty ? 'selected':''}}">
    <td>{{i+1}}</td>
    <td>{{fac.name}}</td>
    <td>{{fac.shortel}}</td>
    <button routerLink="../edit/{{fac.shortel}}">Edit</button>
    <!-- This button triggers the delete in faculty list component-->
    <button (click)="delete(fac,$event)">Delete</button>
  </tr>
</table>
<p>
  <button routerLink="../create">Create</button>
</p>
<app-faculty-details *ngIf="selectedFaculty" [faculty]="selectedFaculty"></app-faculty-details>
